@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
input::placeholder,
textarea,
select,
option {
  font-family: "Outfit", sans-serif;
}

.Link-tag {
  text-decoration: none;
}