.my-bookings-container {
    max-width: 900px;
    margin: 32px auto 64px auto;
    padding: 16px;
}

.bookings-title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 32px;
    color: #222;
}

.booking-card {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    transition: transform 0.2s ease;
}

.booking-card:hover {
    transform: scale(1.01);
}

.booking-image {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.booking-info {
    flex: 1;
}

.event-title {
    color: #000;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 500;
}

.booking-info p {
    margin: 6px 0;
    font-size: 16px;
    color: #333;
}

.cancel-button {
    margin-top: 12px;
    padding: 8px 16px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.2s ease;
}

.cancel-button:hover {
    background-color: #e60000;
}

.no-booking-msg {
    text-align: center;
    margin-top: 32px;
    font-size: 18px;
    margin-bottom: 36%;
}

@media (max-width:600px) {
    .bookings-title {
        font-size: 26px;
    }

    .booking-image {
        height: 185px;

    }

    .booking-info p {
        font-size: 15px;
    }

    .event-title {
        font-size: 18px;
        font-weight: 500;
    }

    .cancel-button {
        font-weight: 500;
    }

    .no-booking-msg {
        font-size: 16px;
    }
}

@media (max-width:500px) {
    .bookings-title {
        font-size: 24px;
    }

    .booking-image {
        height: 155px;
        width: 160px;

    }

    .booking-info p {
        font-size: 14px;
    }

    .event-title {
        font-size: 16px;
    }

    .cancel-button {
        font-weight: 400;
    }

    .no-booking-msg {
        font-size: 14px;
    }
}


@media (max-width: 440px) {
    .bookings-title {
        font-size: 22px;
    }

    .booking-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 12px;
        padding: 12px;
    }

    .booking-image {
        width: 100%;
        max-width: 180px;
        height: auto;
        border-radius: 10px;
    }

    .booking-info {
        width: 100%;
    }

    .booking-info p {
        font-size: 13px;
    }

    .event-title {
        font-size: 16px;
    }

    .cancel-button {
        width: 100%;
        font-weight: 400;
        padding: 8px 12px;
    }

    .no-booking-msg {
        font-size: 12px;
    }
}