.create-event-container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.create-event-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #252525
}

.event-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.event-form input,
.event-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.event-form textarea {
    resize: vertical;
    min-height: 80px;
}

.event-form button {
    background-color: #3838ff;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.event-form button:hover {
    background-color: #2e2ed8;
}